*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  background-color: #f5f5f5;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
img {
  display: block;
  max-width: 100%;
}

.select-box {
  max-width: 380px;
  margin: 20rem auto;
}

.selections {
  width: 100%;
  display: inline-block;
  height: 45px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 0.5px rgb(0 0 0 / 3%), 0px 3px 8px rgb(0 0 0 / 12%);
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  /* justify-content: center; */
  padding: 0 20px 0 25px;
  align-items: center;
  color: #73737f;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.selections:hover,
.selections:active,
.selections:focus,
.selections:visited {
  box-sizing: border-box;
  border: 1px solid #0ea5e9;
  box-shadow: #bbdffb 0 0 0px 2px, #e8f4fd 0 0 0px 4px;
  padding-left: 24px;
}
.selections .fa-check {
  display: none;
}

.list-box {
  display: none;
}
.list-box.is-active {
  box-shadow: 0px 0px 0px 0.5px rgb(0 0 0 / 3%), 0px 3px 8px rgb(0 0 0 / 12%);
  width: 100%;
  max-height: 150px;
  padding: 10px 15px 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  display: block;
  overflow-y: auto;
  background-color: #fff;
}

.list-box.is-active::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

.list-box.is-active::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  border-radius: 20px;
}

.list-box.is-active::-webkit-scrollbar-thumb {
  background: #b8bbc0;
  border-radius: 20px;
  cursor: pointer;
}

.list-box.is-active::-webkit-scrollbar-thumb:hover {
  background: #9298a0;
}
.item-box {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  padding: 8px 20px 8px 10px;
  color: #73737f;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.item-box:hover {
  background-color: #e0f2fe;
  color: #0ea5e9;
  transition: all 0.2s ease-in-out;
}

.item-box .fa-check {
  opacity: 0;
  color: #0ea5e9;
  transition: all 0.2s ease-in-out;
}

.item-box:hover .fa-check {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.symbol {
  width: 20px;
  user-select: none;
}

.btn {
  width: 50px;
  height: 30px;
  background-color: red;
}
